body{
	background-image: url("resources/images/cam.jpg");
	background-size: cover;
	/*font-style:  'Lobster', cursive;*/
	font-family: 'Satisfy', cursive;
	color:  #FFE4C4;
}
.abdi{
	text-align: center;
	padding-top: 200px;
	
}
hr{
	width: 70%;
}

#map {
	height: 200px;
	width: 200px;
}